<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Animal</title>
</head>
<body>
    <h1>Editar Animal</h1>
    <form action="/animais/edit/<%= animal._id %>" method="POST">
        <label for="codAnimal">Código do Animal:</label>
        <input type="text" id="codAnimal" name="codAnimal" value="<%= animal.codAnimal %>" required><br>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="<%= animal.nome %>" required><br>

        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade" value="<%= animal.idade %>" required><br>

        <label for="especie">Espécie:</label>
        <input type="text" id="especie" name="especie" value="<%= animal.especie %>" required><br>

        <button type="submit">Salvar</button>
    </form>
    <a href="/animais/list">Voltar para a lista</a>
</body>
</html